<header>
  <a routerLink="/" class="logo">FKML</a>

  <div class="header-right">
    <button *ngIf="showProfile" (click)="logout()" class="login-btn">
      Logout
    </button>

    <a *ngIf="showProfile" [routerLink]="profileRoute" class="profile-link" [attr.title]="isSeller ? 'Manage my profile and product listings' : null">
      <img [src]="profileImageUrl" alt="Profile" class="profile-img" />
    </a>

    <button *ngIf="!showProfile" routerLink="/auth" class="login-btn">
      Login
    </button>
  </div>
</header>

<router-outlet></router-outlet>
