header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  border-bottom: 1px solid var(--border-color);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  position: relative;
  display: inline-block;
  font-family: var(--font-family-headings);
  font-weight: 700;
  font-size: 1.9rem;
  text-decoration: none;
  color: var(--text-color);
  padding-right: 4rem;
}

.logo-icon {
  position: absolute;
  height: 4rem; /* Adjusted size */
  width: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.logo:hover {
  cursor: pointer;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  object-fit: cover;
}

.profile-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.cart-link {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 50%;
}

.cart-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

