services:

  # -------------------
  # Kafka (KRaft mode)
  # -------------------
  kafka:
    image: apache/kafka:4.1.1-rc2
    container_name: kafka
    expose:
      - 9092
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    networks:
      - FKML_secret_network

  # -------------------
  # MongoDB
  # -------------------
  buy01:
    image: mongo:7.0
    container_name: buy01
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - FKML_secret_network
    healthcheck:
      test: [ "CMD", "mongosh", "--username", "admin", "--password", "password", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 2s
      retries: 10


  discovery:
    build: backend/discovery
    image: discovery:${IMAGE_TAG}
    ports:
      - "8761:8761"
    restart: unless-stopped
    networks:
      - FKML_secret_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761"]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway:
    build: backend/gateway
    image: gateway:${IMAGE_TAG}
    ports:
      - "8443:8443"
    depends_on:
      discovery:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - FKML_secret_network
    healthcheck:
      test: ["CMD", "curl", "-k", "-f", "https://localhost:8443/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build: backend/user-service
    image: user-service:${IMAGE_TAG}
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATA_MONGODB_URI: mongodb://admin:password@buy01:27017/buy01?authSource=admin
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_NAME: user-service
    expose:
      - "8080"
    depends_on:
      discovery:
        condition: service_healthy
      gateway:
        condition: service_started
    restart: on-failure
    networks:
      - FKML_secret_network

  product-service:
    build: backend/product-service
    image: product-service:${IMAGE_TAG}
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATA_MONGODB_URI: mongodb://admin:password@buy01:27017/buy01?authSource=admin
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_NAME: product-service
    expose:
      - "8081"
    depends_on:
      discovery:
        condition: service_healthy
      gateway:
        condition: service_started
    restart: unless-stopped
    networks:
      - FKML_secret_network

  media-service:
    build: backend/media-service
    image: media-service:${IMAGE_TAG}
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATA_MONGODB_URI: mongodb://admin:password@buy01:27017/buy01?authSource=admin
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_NAME: media-service
    expose:
      - "8082"
    depends_on:
      discovery:
        condition: service_healthy
      gateway:
        condition: service_started
    restart: unless-stopped
    networks:
      - FKML_secret_network

  # ANGULAR FRONTEND
  frontend:
    build: frontend
    image: frontend:${IMAGE_TAG}
    ports:
      - "4200:4200"
    environment:
      API_GATEWAY_URL: https://gateway:8443
    depends_on:
      gateway:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - FKML_secret_network
    healthcheck:
      test: ["CMD", "curl", "-k", "-f", "https://localhost:4200"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  FKML_secret_network:
    driver: bridge

volumes:
  mongo_data: