version: '3.9'

services:

  discovery:
    build: backend/discovery
    container_name: discovery-dev
    ports:
      - "8761:8761"
    restart: unless-stopped
    networks:
      - dev-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761"]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway:
    build: backend/gateway
    container_name: gateway-dev
    ports:
      - "8080:8080"
    depends_on:
      discovery:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - dev-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build: backend/user-service
    container_name: user-service-dev
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8081:8081"
    depends_on:
      discovery:
        condition: service_healthy
      gateway:
        condition: service_started
    restart: unless-stopped
    networks:
      - dev-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  product-service:
    build: backend/product-service
    container_name: product-service-dev
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8082:8082"
    depends_on:
      discovery:
        condition: service_healthy
      gateway:
        condition: service_started
    restart: unless-stopped
    networks:
      - dev-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  media-service:
    build: backend/media-service
    container_name: media-service-dev
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8083:8083"
    depends_on:
      discovery:
        condition: service_healthy
      gateway:
        condition: service_started
    restart: unless-stopped
    networks:
      - dev-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8083/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5


  # ANGULAR FRONTEND
  frontend:
    build: frontend
    container_name: frontend-dev
    ports:
      - "4200:4200"
    depends_on:
      gateway:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - dev-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4200"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  dev-network:
    driver: bridge
