services:

  # -------------------
  # Kafka (KRaft mode)
  # -------------------
  kafka:
    image: apache/kafka:4.1.1-rc2
    container_name: kafka
    expose:
      - 9092
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    networks:
      - FKML_secret_network

  # -------------------
  # MongoDB
  # -------------------
  buy01:
    image: mongo:7.0
    container_name: buy01
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - FKML_secret_network
    healthcheck:
      test: [ "CMD", "mongosh", "--username", "admin", "--password", "password", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 2s
      retries: 10

  # -------------------
  # Backend services
  # -------------------
  discovery:
    build: ./backend/discovery
    container_name: discovery
    ports:
      - "8761:8761"
    networks:
      - FKML_secret_network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 5s
      timeout: 2s
      retries: 10

  gateway:
    build: ./backend/gateway
    container_name: gateway
    ports:
      - "8443:8443"
    networks:
      - FKML_secret_network
    depends_on:
      discovery:
        condition: service_healthy

  user-service:
    build: ./backend/user-service
    container_name: user-service
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://admin:password@buy01:27017/buy01?authSource=admin
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_NAME: user-service
    expose:
      - "8080"
    networks:
      - FKML_secret_network
    depends_on:
      discovery:
        condition: service_healthy
      buy01:
        condition: service_healthy


  product-service:
    build: ./backend/product-service
    container_name: product-service
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://admin:password@buy01:27017/buy01?authSource=admin
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_NAME: product-service
    expose:
      - "8081"
    networks:
      - FKML_secret_network
    depends_on:
      - discovery
      - kafka

  media-service:
    build: ./backend/media-service
    container_name: media-service
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://admin:password@buy01:27017/buy01?authSource=admin
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SERVICE_NAME: media-service
    expose:
      - "8082"
    networks:
      - FKML_secret_network
    volumes:
      - ./backend/media-service/uploads:/app/uploads
    depends_on:
      discovery:
        condition: service_healthy

  # -------------------
  # Frontend
  # -------------------
  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      API_GATEWAY_URL: https://gateway:8443
    ports:
      - "4200:4200"
    networks:
      - FKML_secret_network
    depends_on:
      - gateway


# -------------------
# Networks & Volumes
# -------------------
networks:
  FKML_secret_network:

volumes:
  mongo_data: