spring:
  application:
    name: gateway
  cloud:
    discovery:
      enabled: true
    gateway:
      discovery:
        locator:
          enabled: true
      loadbalancer:
        secure: false
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/auth/**
            - Path=/api/users/**
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/**
        - id: media-service
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/api/media/**

server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:ssl/backend.p12
    key-store-password: password
    key-store-type: PKCS12
    key-alias: localhost
    trust-store: file:/Users/fanni.vesanen/mytruststore.jks
    trust-store-password: changeit
    trust-store-type: JKS

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

jwt:
  secret: very-long-secret-key-string-with-at-least-32-chars

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty.http.client: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG

