spring:
  application:
    name: GATEWAY

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      max-in-memory-size: 15MB   # must cover total multipart + form overhead
      routes:
        - id: auth-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/auth/**

        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**

        - id: all-products
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products

        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/**

        - id: media-service
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/api/media/**

        - id: order-service-orders
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/orders/**

        - id: order-service-cart
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/cart/**

server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:ssl/keystore.p12
    key-store-password: password
    key-store-type: PKCS12

jwt:
  secret: very-long-secret-key-string-with-at-least-32-chars

#jwt:
#  secret: ${JWT_SECRET}

eureka:
  instance:
    hostname: ${HOSTNAME}
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty.http.client: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG

