.toggle-container {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--background-color);
  width: 400px;
  height: 40px;
  padding: 4px;
  margin-bottom: 20px;
}

.toggle-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--primary-color);
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}

.toggle-btn.active {
  background-color: var(--primary-color);
  color: #fff;
}

.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}
