<div class="container mt-4">
  <h2>For sale</h2>

  <div *ngIf="products.length === 0">
    <p>No products available</p>
  </div>

  <div class="row" *ngIf="products.length > 0">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="card mb-3">
        <img [src]="product.images?.[0] | imageUrl" class="card-img-top" alt="{{ product.name }}" (click)="goToProduct(product.productId)" style="cursor: pointer;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text mt-auto">{{ product.price | currency:'EUR':'symbol' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

