<div class="container mt-4">
  <h2>For sale</h2>

  <div *ngIf="products.length === 0">
    <p>No products available</p>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let product of products">
      <div class="product-card-uniform" [ngClass]="{'sold-out-card': product.quantity === 0}" (click)="goToProduct(product.productId)" style="cursor: pointer;">
        <div class="card-img-container">
          <app-image-carousel [images]="product.images || []"></app-image-carousel>
        </div>
        <div class="card-body">
          <h5 class="card-title text-truncate">{{ product.name }}</h5>
          <div class="card-text price-container">
            <ng-container *ngIf="product.quantity > 0; else soldOutPrice">
              {{ product.price | currency:'EUR':'symbol' }}
            </ng-container>
            <ng-template #soldOutPrice>
              <span class="original-price-strikethrough">{{ product.price | currency:'EUR':'symbol' }}</span>
              <span class="sold-out-label">Sold Out</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
