.client-profile {
    display: flex;
    align-items: center;
    margin-top: 6.25rem;
    margin-left: 12.5rem;
}
.client-profile img {
    border-radius: 50%;
    width:  9.375rem;
    height: 9.375rem;
    margin-right: 1.25rem;
}

.client-profile p {
    font-size: 1.5em;
    margin: 0;
}

@media (max-width: 768px) {
    .client-profile {
        flex-direction: column;
        align-items: center;
        margin-top: 3.125rem;
        margin-left: 0;
    }
    .client-profile img {
        margin-right: 0;
        margin-bottom: 1rem;
    }
